<!-- Container for the animated stuff -->
<div class="row">
	<img class="img-responsive" src="/assets/images/bubbles.png" />
</div>

<div class="row explore">
	<form action="">
		<div class="row">
			<div class="col-lg-3">
				<h1 class="header">Explore</h1>
				<div class="input-group">
					<input class="form-control" type="text" />
					<span class="glyphicon glyphicon-search"></span>
				</div>
			</div>
			<div class="col-lg-3" ng-repeat="row in rows">
				<div ng-repeat="category in row" class="category-chooser">
					<button type="button" class="btn btn-default">{{ category.name }}</button>
				</div>
			</div>
		</div>
	</form>
</div>

