.bubbles {
  overflow: hidden;
  height: 600px;
  margin: 20px auto;
}



.explore {
	background-color: #e7e7e7;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;

}

.explore h1 {
	color: white;
}

.explore button {
	width: 100%;
	margin-bottom: 10px;
}

.d3plus_data {
  cursor: pointer;
}
