<!-- Container for the animated stuff -->
<div class="row">
  <div class="col-xs-12">

    <div class="bubbles"></div>

  </div>
</div>

<form action="">
  <div class="row explore">

    <div class="col-sm-12 col-xs-12">

      <h3 class="header">Explore by</h3>

      <div class="input-group input-addon">
          <button type="button" class="btn btn-default sort-field sort-{{ name }}"
                  ng-repeat="name in interns.sortFields"
                  ng-click="interns.sort(name)">
            {{ name }}
          </button>
      </div>

      <div>
        <button ng-click="interns.resetInput()" class="btn btn-success">Reset</button>
      </div>

    </div>

  </div>
</form>
