.bubbles {
  overflow: hidden;
  height: 400px;
  margin-top: 20px;
}



.explore {
	background-color: grey;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;

}

.explore h1 {
	color: white;
}

.explore button {
	width: 100%;
	margin-bottom: 10px;
}
