<!-- Container for the animated stuff -->
<div class="row">
  <div class="col-xs-12">

    <div class="bubbles"></div>

  </div>
</div>

<form action="">
  <div class="row explore">

    <div class="col-sm-5 col-xs-12">

      <h3 class="header">Explore</h3>

      <div class="input-group input-addon">
        <input class="form-control" type="text" ng-change="ctrl.inputChange()" ng-model="ctrl.filter"/>
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
      </div>

    </div>

    <div class="col-sm-3 pull-right">
      <div ng-repeat="row in rows">
        <div ng-repeat="category in row" class="category-chooser">
          <button type="button" class="btn btn-default">{{ category.name }}</button>
        </div>
      </div>
    </div>

  </div>
</form>

