<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{ $ctrl.item.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
  <p>
    <b>Salary:</b>
    {{ $ctrl.item.salary }}
  </p>
  <p>
    <b>Duration:</b>
    {{ $ctrl.item.duration }}
  </p>
  <p>
    <b>Description:</b>
    {{ $ctrl.item.description }}
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
